<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stud11418004.develops.beasiswapelajar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppliedBeasiswaActivity"
            android:label="beasiswa yang Didaftar"></activity>
        <activity
            android:name=".SavedBeasiswaActivity"
            android:label="beasiswa yang Disimpan" />
        <activity
            android:name=".BeasiswaActivity"
            android:label="Beasiswa yang Direkomendasikan" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard" />
        <activity
            android:name=".DaftarUserActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginUserActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>